.notif {
  animation: move 0.7s infinite;
}

@keyframes move {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(25deg);
  }

  50% {
    transform: rotate(0deg);
  }

  70% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}